# This file is used to store environment variables for your application. You can define variables here and access them in your code using process.env.VARIABLE_NAME.

# Clerk API keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=xxx
CLERK_SECRET_KEY=xxx

# Postgres (local Docker via docker.compose.yml)
DATABASE_URL=xxx